@charset "UTF-8";

/* ---------------------------
 * 色
 * ---------------------------*/

// メインカラー：サイトの印象を決定づける主役の色
$color_main: #003399;
$color_main_dark: darken($color_main, 15%);
$color_main_light: lighten($color_main, 65%);

// アクセントカラー：少ない使用量ながら一番目立ち、全体を引き締め、ユーザーの目を引く役割がある色
$color_accent: #D66D97;

// CV用のアクセントカラー
$color_cv_accent: #FF8B12;
$color_cv_accent_shadow: darken($color_cv_accent, 15%);

// ベースカラー：最も大きな面積を占める基本となる色で余白や背景などに用いることが多い。メインとアクセントのカラーを引き立てる脇役的な立ち位置。
$color_base: #fff;
$color_base_oponent: #262525; // ベースカラーの反対色
$color_base_oponent_light: #2b2b2b;

// サブカラー：溶け込んで目立たせない役割の色
$color_sub: #f2f2f2;
$color_sub_dark: darken($color_sub, 2%);
$color_sub_border: darken($color_sub, 7%);
$color_sub_shadow: darken($color_sub, 25%);

// その他
$color_text: #333333; // 文字色
$color_text_light: #909090; // 薄い文字色
$color_text_anchor_visited: #4B11A8; // リンク文字色(訪問済み)

$color_blue: #7692FF;
$color_background_blue: lighten($color_blue, 20%); // 青背景
$color_background_red: lighten(#FF9277, 20%); // 赤背景

/* ---------------------------
 * デザインカスタマイズ
 * ---------------------------*/

// cvボタン(デフォルト)
$cv_button_background_color: $color_main;
$cv_button_border_color: $color_main;

// termLabels(デフォルト)
$term_labels_item_border_color: $color_main;
$term_labels_item_background_color: $color_main_light;
$term_labels_item_anchor_color: $color_main;

// headerunderline(デフォルト)
$header_under_line_background_color: $color_sub;
$header_under_line_background_image_url: '/wp-content/themes/ztheme/img/background_pattern_images/horizontal_single_line.svg';
// headerunderline(カスタマイズ)
$header_under_line_background_image_url: '';

// fullWidthWrapper(デフォルト)
$full_width_wrapper_background_image_url: '/wp-content/themes/ztheme/img/background_pattern_images/horizontal_multi_line.svg';
// fullWidthWrapper(カスタマイズ)
$full_width_wrapper_background_image_url: '';

// navModal(デフォルト)
$nav_modal_background_image_url: '/wp-content/themes/ztheme/img/background_pattern_images/horizontal_multi_line_opponent_color.svg';
// navModal(カスタマイズ)
$nav_modal_background_image_url: '';

// footer(デフォルト)
$footer_background_image_url: '/wp-content/themes/ztheme/img/background_pattern_images/horizontal_multi_line_opponent_color.svg';
// footer(カスタマイズ)
$footer_background_image_url: '';

// ロゴサイズ(デフォルト)
$header_content_logo_area_width: 130px;
$header_content_logo_area_width_sp: 100px;


/* ---------------------------
 * font-size
 * ---------------------------*/
$default_font_size_pc: 14px;
$h1_font_size_pc: 24px;
$h2_font_size_pc: 20px;
$h3_font_size_pc: 20px;
$h4_font_size_pc: 16px;
$h5_font_size_pc: 15px;

$default_font_size_sp: 14px;
$h1_font_size_sp: 16px;
$h2_font_size_sp: 16px;
$h3_font_size_sp: 16px;
$h4_font_size_sp: 14px;
$h5_font_size_sp: 13px;

/* ---------------------------
 * ページ共通の幅
 * ---------------------------*/
$base_wrapper_max_width: 1130px;
$base_aside_max_width: 320px;
$base_main_max_width: $base_wrapper_max_width - $base_aside_max_width;
$base_wrapper_side_padding: 45px;
$base_wrapper_side_padding_sp: 10px;
$normal_margin_bottom: 23px;
$normal_margin_sp: 20px;
$normal_margin_pc: 26px;

/* ---------------------------
 * メディアクエリ
 * ---------------------------*/
$breakpoints: (
  'sp': 'screen and (max-width: 900px)',
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ---------------------------
 * mixin
 * ---------------------------*/
 // Mac/WindowsのChrome/Safariで共通のスクロールバーを表示するためのmixin
 // ※IE、Edge、Firefoxはスクロールバーのカスタマイズはできない
 @mixin my_scrollbar() {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px $color_sub_shadow;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_sub_border;
    border-radius: 10px;
    box-shadow: none;
  }
}

 // スクロールバーを表示しないmixin
 @mixin no_scrollbar() {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
 }
